
body {
 margin: 0;
 padding: 0;
 background: lightblue;
}

#main {
    
    padding: 20px;
    background: lightblue;
    text-align: center;
    
}

#dif {
    font-weight: bold;
    font-size: 0.8em;
}

#log {
   display:none; 
   font-weight: bolder;
   font-size: 0.8em;
   text-align: center;
}

canvas {
    display: block; 
    border: 3px solid #eee;
    margin: auto;
    border-radius: 7px;
    box-shadow: 0 0 15px;
}

#info {
    margin-left: 40px;
    color: red;
}
button {
    border:1px solid white;
    border-radius: 7px;
    box-shadow: 0 0 5px, inset 0 0 25px;
    padding: 10px 40px;
    background-color: #f3f3f3;
    font-weight: bold;
}